.card{
    border: 1px solid black;
    border-radius: 5%;
    margin: 5vh;
}
.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    background-image: url("https://images.unsplash.com/photo-1620841713108-18ad2b52d15c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-color: #cccccc00;
}