body{
    background-color: rgb(217, 250, 226)
}
h1{
    text-shadow:5px 10px 18px #005b5edb ;
    background: -webkit-linear-gradient(rgb(112, 0, 125), rgb(255, 4, 117));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3{ 
    border: solid rgb(217, 250, 226) 3px;
    border-radius: 17px;
    box-shadow: 5px 10px 18px #005b5e8f;
}