.chat-border {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 30px;
}
.messages-area{
    height: 80vh;
    background-color: rgb(234, 234, 234);
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
}
.send-btn {
    bottom: 10px;
    border-radius: 50%;
    background-color: #5dd65d;
    height: 35px;
    width: 47px;
}
.send-btn img {
    margin-left: 15px;
    margin-top: 7px;
    height: 20px;
}
.mesegeContainer{
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    background-color: navajowhite;
    margin-top: 5px;
    margin-bottom: 32px;
    padding-inline: 8px;
}
.chat-window{
    margin-top: 52px;
}
.usercolor{
    background-color: rgb(254, 174, 54);
}

.maxWidth{
    max-width: 80vh;
}
.nopadding{
    margin-right: -15px;
    margin-left: -15px
}
.mrInpu{
    margin-left: 0px;
    margin-right: 0px;
}
.marBtn{
    margin-left: -15px;
    margin-right: 0px;
}


@media screen and (max-width: 550px) {
    .chat-border{
        width: 100vh;
    }
}
@media screen and (max-width:500px) {
    .chat-border{
        width: 46vh;
    }
}