.uName{
    text-align: center;
}
.chat-border {
    border: 1px solid black;
    border-radius: 5px;
    /* height: 95vh; */
}
.messages-area{
    height: 600px;
    /* height: 93vh; */
    background-color: beige;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
}
.text-input{
    /* bottom: 7px; */
    /* display: flex; */
    /* align-items: end; */
    /* position: absolute; */
    /* width: 103vh; */
}
.send-btn {
    bottom: 10px;
    border-radius: 50%;
    background-color: #40c340;
    height: 35px;
    width: 47px;
}
.send-btn img {
    margin-left: 15px;
    margin-top: 7px;
    height: 20px;
}
.mesegeContainer{
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    background-color: navajowhite;
    margin-top: 5px;
    margin-bottom: 32px;
    padding-inline: 8px;
}
.chat-window{
    margin-top: 34px;
}
.color{
    padding: 0px !important;
}